@import "tailwindcss";

.hero-slider .slick-dots {
  @apply flex justify-center gap-2;
  position: absolute;
  bottom: 10px;
  width: 100%;
}


.hero-slider .slick-dots li button:before {
  content: "" !important;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(177 177 177); 
  border: 2px solid #fff;
  opacity: 0.6;
}

.hero-slider .slick-dots li.slick-active button:before {
  background-color: rgb(239 68 68); 
  border: 2px solid #fff;
  opacity: 1;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}